@tailwind base;
@tailwind components;
@tailwind utilities;

/* styling TOC */

:is(h2, h3, h4) {
  transition: 0.3s;
}

.toc-clicked {
  color: cornflowerblue;
}

aside.toc.mobile {
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.4));
  box-shadow: black;
}
